.estructura{
    display: flex;
    justify-content: space-around;
    text-align: justify;
}
.borde1, .borde2, .borde3, .borde4, .borde5{
    height: 250px;
    width: 150px;
    padding: 1em;
    justify-content: space-around;
    text-align: justify;
}
.borde1{
    border: 5px solid rgb(199, 32, 32);
    background-color: rgb(46, 117, 94);
}
.borde2{
    border: 5px dotted rgb(10, 9, 9);
    background-color: rgb(59, 59, 117);
}
.borde3{
    border: 5px dashed rgb(216, 82, 38);
    background-color: rgb(96, 27, 161);
}
.borde4{
    border: 5px double rgb(146, 233, 15);
    background-color: rgb(161, 148, 130);
}
.borde5{
    border: 5px groove rgb(100, 149, 237);
    background-color: rgb(165, 42, 144);
}