.box-1{
    width: 400px;
    height: 400px;
    background-color: black;
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    /*con esto se centra */
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
   margin: 1px;
    margin-right: 100px;
   
}


.box-2{
    background-color: brown;
    position: absolute;
    bottom: -50;
    right: -350;
}

.box-3{
    background-color: rgb(171, 201, 18);
    position: absolute;
    bottom: -50;
    right: -350;
}